{% extends 'base.html.twig' %}

{% block body %}
    <div id="patientForm">
        <h3>Promena lozinke</h3>
        {{ form_start(form) }}
        <table id="patientForm">
            <tr>
                <td class="label">Stara lozinka</td>
                <td>{{ form_row(form.oldPassword) }}</td>
            </tr>
            <tr>
                <td class="label">Nova lozinka</td>
                <td>{{ form_row(form.newPassword.first) }}</td>
            </tr>
            <tr>
                <td class="label">Ponovi lozinku</td>
                <td>{{ form_row(form.newPassword.second) }}</td>
            </tr>
        </table>
        <br>
        <button type="submit" class="patientForm">Save</button>
        {{ form_end(form) }}
    </div>
{% endblock %}


