<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Krios Dental Studio{% endblock %}</title>
    <link rel="icon" href="{{ asset("uploads/design/logoIcon.png") }}" type="image/x-icon"/>
    {% block stylesheets %}
        <link href="{{ asset('krios.css') }}" rel="stylesheet" />
    {% endblock %}
</head>
<body>
{% block body %}
    <div>
        {{ form_start(form) }}
            {{ form_row(form.oldPassword) }}
            {{ form_row(form.newPassword.first) }}
            {{ form_row(form.newPassword.second) }}
            <button type="submit">Save</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascripts %}
{% endblock %}
</body>
</html>


