<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Krios Dental Studio{% endblock %}</title>
    <link rel="icon" href="{{ asset("uploads/design/logoIcon.png") }}" type="image/x-icon"/>
    {% block stylesheets %}
        <link href="{{ asset('midnightblue.css') }}" rel="stylesheet" />
    {% endblock %}
</head>
<body class="login">
{% block body %}
    <div id="loginPage">
        <img src="{{ asset('uploads/design/krios.jpg') }}">
        <div id="loginContainer">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <table id="patientForm">
                    <tr>
                        <td class="label">
                            <label for="inputUsername" class="sr-only">Username</label>
                        </td>
                        <td>
                            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
                        </td>
                    </tr>
                    <tr>
                        <td class="label">
                            <label for="inputPassword" class="sr-only">Password</label>
                        </td>
                        <td>
                            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                        </td>
                    </tr>
                </table>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="checkbox mb-3">
                    <label id="rememberme">
                        <input type="checkbox" name="_remember_me" checked> Remember me
                    </label>
                </div>

                <button class="btn btn-lg btn-primary login" type="submit">Sign in</button>
            </form>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
{% endblock %}
</body>
</html>


