{% extends "base.html.twig" %}

{% block body %}
    Broj kartona: <b>{{ patient.id }}</b><br>
    Ime i prezime: {{ patient.name~' '~patient.surname }} <br>
    Telefon: {{ patient.phone }}<br>
    Email: {{ patient.email }}<br>
    Pol: {{ patient.gender }}<br>
    {% for file in patient.xRayFile %}
        <span id="{{ file.id }}" class="xRaySpan">
            <a href="{{ asset('uploads/xRay/'~file.fileName) }}">
                <img src="{{ asset('uploads/design/xRay_1.jpeg') }}" class="xRayIcon">
            </a>
            <p class="xRaySubs">{{ file.showDate }}</p>
            <a href="">
                <img src="{{ asset('uploads/design/trashcan.png') }}" class="trashIcon"
                     onclick="deleteFile('{{ file.id }}')">
            </a>
        </span>
    {% endfor %}
    <br>
    <div class="uploadForm">
        {{ form_start(form) }}
        {{ form_row(form.xRayFile) }}
        {{ form_row(form.date) }}
        <button type="submit">Upload</button>
        {{ form_end(form) }}
    </div>

    <br>
    <span><a href="{{ path('edit_patient', { 'id': patient.id }) }}">Edit data</a></span><br>
{% endblock %}