{% extends "base.html.twig" %}

{% block body %}
    {% if patient.id != "" %}
        {% set title = "Izmena podataka" %}
        {% set buttonTitle = "SAČUVAJ IZMENE" %}
    {% else %}
        {% set title = "Unos novog pacijenta" %}
        {% set buttonTitle = "UNESI PACIJENTA" %}
    {% endif %}
    <div id="patientForm">
        <h3>{{ title }}</h3>
        {{ form_start(form) }}
        <table id="patientForm">
            <tr>
                <td class="label">Ime</td>
                <td>{{ form_row(form.name) }}</td>
            </tr>
            <tr>
                <td class="label">Prezime</td>
                <td>{{ form_row(form.surname) }}</td>
            </tr>
            <tr>
                <td class="label">Pol</td>
                <td>{{ form_row(form.gender) }}</td>
            </tr>
            <tr>
                <td class="label">Telefon</td>
                <td>{{ form_row(form.phone) }}</td>
            </tr>
            <tr>
                <td class="label">Email</td>
                <td>{{ form_row(form.email) }}</td>
            </tr>
            <tr>
                <td class="label">Datum unosa</td>
                <td>{{ form_row(form.registrationDate) }}</td>
            </tr>
        </table>
        <br>
        <button class="patientForm" type="submit">{{ buttonTitle }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}