{% extends "base.html.twig" %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.surname) }}
    {{ form_row(form.gender) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.email) }}
    <br>
    <button type="submit">Save</button>
    {{ form_end(form) }}
{% endblock %}