{% extends "base.html.twig" %}

{% block body %}
    <div id="search">
        {{ form_start(form) }}
        <span>{{ form_row(form.searchTerm) }}</span>
        {{ form_end(form) }}
    </div>
    <br>
    <table id="patients">
        <tr>
            <td>ID</td>
            <td>Ime</td>
            <td>Prezime</td>
            <td>Telefon</td>
        </tr>
        {% for patient in patients %}
        <tr class="selectable_row" onclick="showPatient('{{ patient.id }}')">
            <td>{{ patient.id }}</td>
            <td>{{ patient.name }}</td>
            <td>{{ patient.surname }}</td>
            <td>{{ patient.phone }}</td>
        </tr>
        {% endfor %}
    </table>
        {% if patients|length == 0 %}
            <h4>No patients found</h4>
        {% endif %}
        <br>
        <span><a href="{{ path('new_patient') }}">New patient</a></span><br>
{% endblock %}