{% extends "base.html.twig" %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.surname) }}
    {{ form_row(form.username) }}
    {{ form_row(form.password.first) }}
    {{ form_row(form.password.second) }}
    <br>
    <button type="submit">Save</button>
    {{ form_end(form) }}
{% endblock %}